.label {
  display: inline-block;
  flex: 1;
  padding: 0.75rem;

  & > em {
    display: block;
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-bottom: 0.25rem;
    color: #888a;
    width: 100%;
  }
}

input[type="text"],
input[type="search"] {
  all: unset;
  &::placeholder { opacity: 0.35; }
}

.input {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.25rem;

  .icon {
    height: 1em;
    width: 1em;
    flex: 0 0 1rem;
    display: block;
    opacity: 0.5;
    background-position: 50% 50%;
  }

  .clearer {
    cursor: pointer;
    margin-right: 0.5rem;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12.0007 10.5865L16.9504 5.63672L18.3646 7.05093L13.4149 12.0007L18.3646 16.9504L16.9504 18.3646L12.0007 13.4149L7.05093 18.3646L5.63672 16.9504L10.5865 12.0007L5.63672 7.05093L7.05093 5.63672L12.0007 10.5865Z"></path></svg>');
  }
  
  .magnifier { background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z"></path></svg>'); }
  
  .chevron {
    margin-right: 0.5rem;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11.9997 13.1714L16.9495 8.22168L18.3637 9.63589L11.9997 15.9999L5.63574 9.63589L7.04996 8.22168L11.9997 13.1714Z"></path></svg>');
  }
}

// ! Can't combine selectors or reuse placeholders
input[type="range"] {
  appearance: none;
  background: transparent;
  cursor: pointer;
  outline: none;

  /******** Chrome, Safari, Opera and Edge Chromium styles ********/
  &::-webkit-slider-runnable-track {
    background-color: #8882;
    border-radius: 0.125rem;
    height: 0.5rem;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    margin-top: -0.375rem;
    background-color: #fff;
    border-radius: 0.25rem;
    height: 1.25rem;
    width: 0.75rem;
    box-shadow:
      0 0 0 1px #8888;
  }


  /*********** Firefox styles ***********/
  &::-moz-range-track,
  &::-moz-range-progress {
    background-color: #ebebeb;
    border-radius: 0.125rem;
    height: 0.5rem;
  }

  &::-moz-range-progress { background: var(--color-primary); }
  
  &::-moz-range-thumb {
    appearance: none;
    margin-top: -0.375rem;
    background-color: #fff;
    border-radius: 0.25rem;
    height: 1.25rem;
    width: 0.75rem;
    border: 0;
    box-shadow:
      0 0 0 1px #8888;
  }
}

/*
%range-track {
  appearance: none;
  background: #8882;
  height: 100%;
  border-radius: 0.25rem;
}

input[type="range"] {
  width: 7rem;
  appearance: none;
  background: none;
  height: 0.5rem;

  &::-webkit-slider-runnable-track { @extend %range-track; }
  &::-moz-range-track { @extend %range-track }

  &::-moz-range-progress {
    background: var(--color-primary);
    height: 100%;
    border-radius: 0.25rem;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    background: #fff;
    height: 1rem;
    width: 0.5rem;
    border-radius: 0.25rem;
  }

  &::-moz-range-thumb {
    appearance: none;
    background: #fff;
    height: 1rem;
    width: 0.5rem;
    border-radius: 0.25rem;
  }
}
*/
