img {
  max-width: 100%;
  display: inblock-line;
  vertical-align: middle;
}

.icon {
  height: 1em;
  width: 1em;
  max-width: unset;
  display: inline-block;
}

.brand {
  padding: 0.5rem 0;
  height: 2rem !important;
}
