p {
  margin: 0.5rem 0;

  &.note { opacity: 0.5; }
}

big { font-size: 1.5em; }
small { font-size: 0.75em; }

a {
  color: var(--color-text);
}

h2,
h3 {
  font-weight: bold;

  summary & { margin: 0; flex: 1; }

  em {
    opacity: 0.5;
    font-size: 0.75em;
    display: block;
    font-weight: lighter;
  }
}

/* stylelint-disable no-descending-specificity */
h2 { font-size: 1.125rem; }
h3 { font-size: 1rem; }

.chip {
  --color: #888;

  display: inline-block;
  font-size: 0.75em;
  color: var(--color);
  padding: 0.125em 0.25em;
  background: color-mix(in srgb, var(--color) 20%, transparent);
  margin: 1px;
  border-radius: 0.25em;

  // Hack to improve chip readibility with SIMPLE color
  &.SIMPLE { --color: #89ae51 !important; }
}

.warning {
  color: #eea602;
  background: #fefae0;
  padding: 0.75rem 1rem;
  border: 1px solid #eea60244;
  border-radius: 0.25rem; 
}
